// Home Content

.home {

  @media @mobile {
    max-width: 1000px;
  }

  @media @desktop {
    max-width: 800px;
  }

  /* Begin Intro */
  // .intro {

  //   h2 {
  //     padding: 15px;
  //   }

  //   p {
  //     padding:0 15px;
  //   }
  
  // }

  @media @mobile {
    .intro {
      margin-top: 2rem;
      .flex-display(column);
      h1 {
        text-align: center;
        font-size: 6rem;
        
      }
      .nav-bar {
        .nav-bar-mobile();  
      }

      .img {
        border-radius: 3rem;
      }
      .text-content {
        .mobile-text-content();  
      }
      
    }
  }

  @media @desktop {
    .intro {
      h1 {
        font-size: 5rem;
      }
      .nav-bar {
        .nav-bar-desktop();
      }
      .text-content {
        .desktop-text-content(); 
      }
    }
  }

  /* End Intro */

  /* Begin Main Content */
  // .space-images {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 100%;

  //   img {
  //     width: 28%;
  //     margin: 20px 2.5%;
  //     border-radius: 20px;
  //     height: 100%;
  //   }
  // }

  // .visit-planets {
  //   padding: 15px;

  //   h3 {
  //     margin-top: 11px;
  //   }

  //   p {
  //     margin-top: 13px;
  //   }
  // }

  @media @mobile {
    .space-images {
      display: none;
    }
    .visit-planets {
      .flex-display(column);
      .img-content {
        .mobile-img-content();  
      }
      .text-content {
        .mobile-text-content();
      }
    }
  }
  @media @desktop {
    .space-images {
      display: flex;
      justify-content: space-between;
      margin: 1rem 2.5rem;
      .space-image {
        border-radius: 2rem;
      }

    }
    .visit-planets {
      border-bottom: 0.1px solid silver;
      .img-content {
        display: none;
      }
      .text-content {
        .desktop-text-content();
      }
    }
    
  }

  // .walk {
  //   margin-top: 60px;
  //   border-top: 1px solid @main-border-color;
  //   padding: 50px 60px;
  //   display: flex;
  //   justify-content: center;

  //   .walk-text {
  //     width: 50%;

  //     h3 {
  //       margin-bottom: 10px;
  //     }

  //     p {
  //       margin-bottom: 26px;
  //     }

  //     .btn {
  //     }
  //   }

  //   .walk-img {
  //     width: 46%;
  //     margin-left: 4%;
      
  //     img {
  //       width: 100%;
  //       height: auto;
  //       border-radius: 10px;
  //     }
  //   }
  // }
  @media @mobile {
    .walk {
      .flex-display(column);
      .img-content {
        .mobile-img-content();  
      }
      .text-content {
        .mobile-text-content();
      }
    }
    .sign-up-btn {
      .sign-up-btn(4rem 0, 1.5rem);
    }
  }
  @media @desktop {
    .walk {
      .walk-content {
        .flex-display(row);
        align-items: center;
      
        .img-content {
          order: 2;
          flex: 1;
          img {
            border-radius: 1.5rem;
          }
        }
      .text-content {
          order: 1;
          flex: 1;
          .desktop-text-content();
        }
      }
      
      .sign-up-btn {
        .sign-up-btn(1rem 2rem, 0.5rem)
          
      }
      
    }
  }

  

  @media @mobile {
    .footer {
      .footer-mobile();
      
      
    }
  }
  @media @desktop {
    .footer {
      .footer-desktop();
    } 
  }
}// home