// Navigation code here

.nav-bar-mobile() {
    width: 100%;
    margin: 3.3rem 0rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    .nav-item {
        .link-style();
        font-size: 1.6rem;
    }
}

.nav-bar-desktop() {
    .nav-item {
        font-size: 2rem;
    }
}